input#short-url
{
	background-color: #FFF;
	cursor: default;
}

button#fb-share-btn-small
{
	display: none;
}

div#btn-container-2
{
	display: none;
	margin-bottom: 10px;
}

@media(max-width: 845px)
{
	button#fb-share-btn-small
	{
		display: inline;
	}
	button#fb-share-btn-big
	{
		display: none;
	}
}

@media(max-width: 475px)
{
	div#btn-container-2
	{
		display: block;
	}
	div#btn-container-1
	{
		display: none;
	}
}
